# Python
.venv/
build/
__pycache__/
*.pyc
*.egg-info

# Mac
.DS_Store
Thumbs.db

# Linux
.desktop

# Data
/data

*.mp3
*.ogg

# Credentials
*.pem
/secrets

# Config
*.env
!.env.example

# Logs
*.log
/logs

# Editors
*.vscode