# Python
.venv/
build/
__pycache__/
*.pyc
*.egg-info

# Mac
.DS_Store
Thumbs.db

# Linux
.desktop

# Data
/data

*.mp3
*.ogg

# Credentials
*.pem
*.key
/secrets

# Config
*.env
!.env.example
log_config.json
!log_config.example.json

# Logs
*.log
/logs

# Editors
.vscode
.ruff_cache