# Python
.venv/
build/
__pycache__/
*.pyc

# Mac
.DS_Store
Thumbs.db

# Data
/data/*
/cache/
/processing/*
/import/
/deleted/*
/covers/custom/*

*.mp3
*.wav
*.flac

# Credentials
credentials.json
token.json
*.pem
