# Python
.venv/
build/
__pycache__/
*.pyc
*.egg-info

# Mac
.DS_Store
Thumbs.db

# Linux
.desktop

# Data
/data
/backups

*.mp3
*.ogg

# Credentials
*.pem
*.key
/secrets
/app/test.py

# Config
/config/*
!/config/*.example

# Logs
*.log
/logs

# Editors
.vscode
.ruff_cache