AUTOMATED__ENABLED=false # Enables automated tasks such as downloading new songs

# Tasks. Set frequency to 0 to disable
AUTOMATED__SYNC_FREQUENCY_HOURS=24
AUTOMATED__DELETE_OLD_FREQUENCY_HOURS=12
AUTOMATED__DELETE_ORPHANED_FREQUENCY_HOURS=12

AUTOMATED__ALBUM_MIN_SONGS=4 # Min songs required to create a album. Note: this does not effect current albums

AUTOMATED__MAX_DELETE_PERCENT=0.1 # Max percent of objects in the DB allowed to be deleted. 0 to disable
AUTOMATED__MAX_DELETED_DAYS=30 # Max amount of days until a soft-deleted object is permanently deleted
AUTOMATED__MAX_TOKEN_EXPIRY_DAYS=3 # How many days after expiry until a token is permanently deleted


# Note: The below configs only effect new backups
BACKUPS__ENABLED=false # Enables/Disables automatic backups
BACKUPS__USE_COMPRESSION=true # Enables XZ compression

# Light backups only include the DB file. Full backups include all data
BACKUPS__LIGHT_DAILY_COUNT=3
BACKUPS__LIGHT_WEEKLY_COUNT=5
BACKUPS__FULL_DAILY_COUNT=0
BACKUPS__FULL_WEEKLY_COUNT=3



TOKEN_EXPIRY_HOURS=24
PLAYLIST_MAX_NAME_LENGTH=100
USER_MAX_PLAYLISTS=30
LOG_LEVEL=DEBUG