AUTOMATED__ENABLED=false # Enables automated tasks such as downloading new songs

# Tasks. Set frequency to 0 to disable
AUTOMATED__SYNC_FREQUENCY_HOURS=24
AUTOMATED__DELETE_OLD_FREQUENCY_HOURS=12
AUTOMATED__DELETE_ORPHANED_FREQUENCY_HOURS=12
AUTOMATED__DOWNLOAD_MISSING_AUDIO_FREQUENCY_HOURS = 24 # Automaticlly downloads audio files if a gdrive audio refrence is missing it's file

AUTOMATED__ALBUM_MIN_SONGS=4 # Min songs required to create a album. Note: this does not effect current albums

AUTOMATED__MAX_DELETE_PERCENT=0.1 # Max percent of objects in the DB allowed to be automaticlly deleted. 0 to disable limit
AUTOMATED__MAX_DELETED_DAYS=30 # Max amount of days until a soft-deleted object is permanently deleted
AUTOMATED__MAX_TOKEN_EXPIRY_DAYS=3 # How many days after expiry until a token is permanently deleted


BACKUPS__ENABLED=false # Enables/Disables automatic backups

# Lite backups only include the DB file. Full backups include all data
# 0 to disable
BACKUPS__LITE_FREQUENCY_DAYS=1
BACKUPS__FULL_FREQUENCY_DAYS=7
BACKUPS__TRIM_FREQUENCY_DAYS=0

BACKUPS__MAX_BACKUP_SIZE_GB=50


TOKEN_EXPIRY_HOURS=24
PLAYLIST_MAX_NAME_LENGTH=100
USER_MAX_PLAYLISTS=30
DAILY_MAX_SIGNUPS_PER_IP=5
LOG_LEVEL=DEBUG
